.git
.github
.gitignore
.gitattributes
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.tmp
*.log
notebooks/
training_history/
imagem/
models/legacy/
packages.txt
requirements-gpu.txt
run_app.sh
.venv/
README-old.md
